body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  margin-bottom: 20px;
  margin-top: 20px;
}

.contact-list {
  padding-top: 20px;
}

.loading {
  width: 10%;
  margin-left: 45%
}

.pagination-nav{

}

.contact-list{
  display: inline-block;
}

.card-header{
  text-align: left;
}

.card{
  text-align: left;
  width: 40rem;
}

.card-img{
  object-fit: cover;
  width: 50px !important;
  height: 50px;
  border-radius: 50px !important;
  margin-right: 25px;
}