body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  margin-bottom: 20px;
  margin-top: 20px;
}



.loading {
  width: 10%;
  margin-left: 45%
}

.pagination-nav{

}

.break-item > a {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.rangeslider{
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
}

.rangeslider__fill{
  background-color: #007aff !important;
}

.search-input{
  width: 10% !important;
  margin-right: 20px;
}

.card-decks{
  display:flex;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.anticon-close-circle {
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
  font-size: 12px;
}
.anticon-close-circle:hover {
  color: #999;
}
.anticon-close-circle:active {
  color: #666;
}

.wolverine-demo-button:hover {
  /* background-color: #fffb8f !important; */
  /* border-color: black !important; */
}   