body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  margin-bottom: 20px;
  margin-top: 20px;
}

.container-fluid {
  padding-bottom: 80px;
}

.loading {
  width: 10%;
  margin-left: 45%
}

.pagination-nav{

}

.contact-list{
  display: inline-block;
}

.card-header{
  text-align: left;
}

.card{
  text-align: left;
  width: 33rem;
  margin: 1rem;
}

.card-img{
  object-fit: cover;
  width: 70px !important;
  height: 70px;
  border-radius: 70px !important;
  margin-right: 25px;
}

.break-item > a {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.rangeslider{
  width: 200px;
  margin-left: 20px;
}

.rangeslider__fill{
  background-color: #007aff !important;
}